body{
    margin: 0;
    background-color: greenyellow;
}

.container-grid{
    
}
.grid{
    display: grid;
    width: 100%;
    height: 50%;
    background-color: rgb(3, 34, 34);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fr 1fr 1fr;
}
.item-grid{
    color: white;
}